.HeaderConteiner{
    height: 300px;
    width: 100%;
    background: white;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center
}
.Video{
    height: 300px;
    width: 100%;
}

@media screen and (min-width:300px) and (max-width:1050px){
    .HeaderConteiner{
        display: none;
    }
    .Video{
        height: 250px;
    }
}