.HeaderConteiner{
    height: 300px;
    width: 100%;
    background: white;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center
}
.Video{
    height: 300px;
    width: 100%;
}

@media screen and (min-width:300px) and (max-width:1050px){
    .HeaderConteiner{
        display: none;
    }
    .Video{
        height: 250px;
    }
}

@media screen and (min-width:3400px) and (max-width:3600px){
    .HeaderConteiner{
        height: 740px;
        top: 740px;
        margin-top: 1500px;
    }
    .Photo {
        height: 600px;
    }
    .CongratulationsText {
        font-size: xxx-large;
        width: 850px;
        margin-left: 300px;
        margin-right: 300px;
    }
    .Video{
        height: 740px;
    }
}