.ContentConteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    margin-top: 1000px;
    background-color: rgba(255, 0, 0, 0);
    position: sticky;
    top: 300px;
}

.Photo{
    object-fit: cover;
    height:300px;
}

.CongratulationsText{
    font-family: Pacifico;
    font-size: large;
    width: 350px;
    margin-left: 200px;
    margin-right: 200px;
}
@font-face {
    font-family: "Pacifico";
    src: url("../../../../src/Font/Pacifico.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@media screen and (min-width:300px) and (max-width:1050px){
    .ContentConteiner{
       display: none;
    }
}

@media screen and (min-width:3400px) and (max-width:3600px){
    .ContentConteiner {
        height: 740px;
        margin-top: 1500px;
        top: 740px;
    }
    .Photo {
        height: 600px;
    }
    .CongratulationsText {
        font-size: xxx-large;
        width: 850px;
        margin-left: 300px;
        margin-right: 300px;
    }

}